$main:#65a74e;
$second:#f7b100;
$third:#3d4851;
$light:#77c441;
$text:#3e4754;
$gray:#f4f4f4;
$fb:#036eb7;
$yt:#cc181e;
$line:#00c300;
$maxW:1200px;
$mobile:850px;



textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
}


input[type=text] {
    font-size: 15px;
    margin: 0;
    letter-spacing: 0;
    color: $text;
    letter-spacing: 0.05em;
    height: 40px;
    width: 200px;
    display: inline-block;
    line-height: 40px;
    background: #fff;
    min-width: 1px;
    padding: 0 10px;
    border: 1px solid #ccc;
    outline: none;

    @include box;

    //@include border-radius(8px 0 0 8px);
}

input[type=submit] {
    display: inline-block;
    height: 40px;
    background: $main;
    color: #fff;
    padding: 0 10px;
    border: none;
    outline: none;
    cursor: pointer;

    //@include border-radius(0 8px 8px 0);
}

.ui-datepicker {
    width: 340px !important;
    font-size: 18px !important;

    @include box;

    @media screen and (max-width: $mobile) {
        width: 280px !important;
        left: calc(50vw - 140px) !important;
    }
}

::-webkit-scrollbar {}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #aaa;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #aaa;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #aaa;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #aaa;
}