$main:#65a74e;
$second:#f7b100;
$third:#3d4851;
$light:#77c441;
$text:#3e4754;
$gray:#f4f4f4;
$red:#c92929;
$fb:#036eb7;
$yt:#ff4141;
$line:#00c300;
$maxW:1320px;
$mobile:700px;
$mobile2:1000px;

@keyframes subNav {
    0% {
    	@include opacity(0);
        @include translate(0,20px);
    }

    100% {
        @include opacity(1);
        @include translate(0,0);
    }
}

@keyframes bookFlipOut {
  from {
    -webkit-transform: perspective(600px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(600px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  to {
    -webkit-transform: perspective(600px);
    transform: perspective(600px);
  }
}

@keyframes bookFlipIn {
  from {
    -webkit-transform: perspective(600px);
    transform: perspective(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: perspective(600px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(600px) rotate3d(0, 1, 0, -20deg);
  }
}
@keyframes sideFlipOut {
  from {
    -webkit-transform: perspective(600px) rotate3d(0, 1, 0, 70deg) translateX(10px);
    transform: perspective(600px) rotate3d(0, 1, 0, 70deg) translateX(10px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  to {
    -webkit-transform: perspective(600px) rotate3d(0, 1, 0, 90deg) translateX(10px);
    transform: perspective(600px) rotate3d(0, 1, 0, 90deg) translateX(10px);
  }
}

@keyframes sideFlipIn {
  from {
    -webkit-transform: perspective(600px) rotate3d(0, 1, 0, 90deg) translateX(10px);
    transform: perspective(600px) rotate3d(0, 1, 0, 90deg) translateX(10px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: perspective(600px) rotate3d(0, 1, 0, 60deg) translateX(10px);
    transform: perspective(600px) rotate3d(0, 1, 0, 60deg) translateX(10px);
  }
}

