$main:#65a74e;
$second:#f7b100;
$third:#3d4851;
$light:#77c441;
$text:#3e4754;
$gray:#f4f4f4;
$red:#c92929;
$fb:#036eb7;
$yt:#ff4141;
$line:#00c300;
$maxW:1320px;
$mobile:700px;
$mobile2:1000px;

@keyframes subNav {
    0% {
    	@include opacity(0);
        @include translate(0,20px);
    }

    100% {
        @include opacity(1);
        @include translate(0,0);
    }
}

